fastapi~=0.115.
uvicorn[standard]==0.34.3
sqlalchemy==2.0.41
pymysql==1.1.1
passlib[bcrypt]==1.7.4  # 密码加密
python-jose==3.5.0       # JWT 支持
pydantic==2.11.5
aiofiles==24.1.0         # 文件上传
python-multipart==0.0.20
openpyxl==3.1.5          # Excel 导出
reportlab==4.4.1         # PDF 报表导出
pandas==2.3.0
insightface==0.7.3       # 人脸识别核心库（包含onnxruntime）
opencv-python==4.11.0.86  # 用于图像处理